.button-2,
.button-3 {
  align-items: center;
  border-radius: 20px;
  cursor: pointer;
  display: inline-flex;
  gap: 8px;
  height: 30px;
  justify-content: center;
  position: relative;
  transition: all 0.3s ease;
}

.button-2:hover,
.button-3:hover {
  transform: scale(0.97); 
}

.label-1,
.label-2 {
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

