.frame-1 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 41px;
  margin-left: -91.65px;
  position: relative;
}

.clinica-veterinaria-1 {
  height: 22px;
  position: relative;
  width: 232.8px;
}

.clnica-veterinaria-1 {
  left: 63px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.line-6 {
  height: 4px;
  left: 0;
  position: absolute;
  top: 9px;
  width: 50px;
}

.flex-container-524411 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
}

.text-5 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 74px;
  position: relative;
  white-space: nowrap;
}

.estamos-24-horas-al-1 {
  height: 70.6px;
  letter-spacing: 0;
  line-height: 37px;
  position: relative;
  width: 393.96px;
}

